<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Bold"
    class="mobiledoc-toolbar__button {{if editor.activeMarkupTagNames.isStrong "active"}}"
    {{action editor.toggleMarkup "strong"}}>
    <FaIcon @icon="bold" />
  </button>
</li>
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Italic"
    class="mobiledoc-toolbar__button {{if editor.activeMarkupTagNames.isEm "active"}}"
    {{action editor.toggleMarkup "em"}}>
    <FaIcon @icon="italic" />
  </button>
</li>
{{!-- <li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Link"
    class="mobiledoc-toolbar__button {{if editor.activeMarkupTagNames.isA "active"}}"
    {{action editor.toggleLink}}>
    <FaIcon @icon="link" />
  </button>
</li> --}}
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Heading"
    class="mobiledoc-toolbar__button {{if editor.activeSectionTagNames.isH1 "active"}}"
    {{action editor.toggleSection "h1"}}>
    <FaIcon @icon="heading" />
  </button>
</li>
{{!-- <li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Subheading"
    class="mobiledoc-toolbar__button {{if editor.activeSectionTagNames.isH2 "active"}}"
    {{action editor.toggleSection "h2"}}>
    <FaIcon @icon="h2" />
  </button>
</li> --}}
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Block Quote"
    class="mobiledoc-toolbar__button {{if editor.activeSectionTagNames.isBlockquote "active"}}"
    {{action editor.toggleSection "blockquote"}}>
    <FaIcon @icon="quote-right" />
  </button>
</li>
{{!-- <li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Pull Quote"
    class="mobiledoc-toolbar__button {{if editor.activeSectionTagNames.isPullQuote "active"}}"
    {{action editor.toggleSection "pull-quote"}}>
    Pull-quote
  </button>
</li> --}}
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="List"
    class="mobiledoc-toolbar__button {{if editor.activeSectionTagNames.isUl "active"}}"
    {{action editor.toggleSection "ul"}}>
    <FaIcon @icon="list-ul" />
  </button>
</li>
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Numbered List"
    class="mobiledoc-toolbar__button {{if editor.activeSectionTagNames.isOl "active"}}"
    {{action editor.toggleSection "ol"}}>
    <FaIcon @icon="list-ol" />
  </button>
</li>

{{yield}}
